@import "tailwindcss";
body{
    background-color: #121212;
}



@font-face {
    font-family: 'Zoredo Blocker';
    src: url('/fonts/ZoredoBlockerRegular.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zoredo Blocker Line';
    src: url('/fonts/ZoredoBlockerLine.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



  
  